.btn:hover {
    background: linear-gradient(180deg, #434343 0%, #252525 29.17%, #212121 66.67%, #000000 100%);
    border-radius: 20px !important;
    border: #666666 25px !important;
    color: whitesmoke;
}
