<div class="container-fluid" for="edititem">
    <div class="container-fluid p-1">
        <div class="container-fluid p-3">
            <div class="container-fluid texto">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-3 col-l-3 col-md-4 col-sm-5 titulocomps">
                        <h1>
                            EDITAR ITEM
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid cuadro rounded m-auto p-1 shadow">
                <table class="table text-center">
                    <thead>
                        <tr>
                            <th scope="col">Seccion</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let c of itemsConceptos">
                            <th scope="row">{{c.secciones.titulo}}</th>
                            <td>{{c.titulo}}</td>
                            <td>{{c.contenido}}</td>
                            <td>
                                <div class="container-2">

                                    <button type="submit" class="btn btn-secondary">Seleccionar</button>
                                </div>
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container-fluid cuadro rounded m-auto p-1 shadow">
            <div class="row text-black text-center align-items-center m-3">
                <div class="col-4">
                    <label for="exampleFormControlInput1" class="form-label">Titulo Item</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Titulo">
                </div>
                <div class="col-6">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1"></textarea>
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-secondary">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>