<body>

    <div class="container-fluid">

        <div class="row align-items-center">
            <div class="col text-center align-self-center position-relative m-5 p-5">
              <h1>
                PAGINA NO ENCONTRADA
              </h1>
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col text-center fixed-bottom p-5">
                <button type="button" (click)="regreso()" class="btnsi">
                    INICIO
                </button>
            </div>
        </div>
    </div>
</body>