body {
    background-image: url("src/assets/img/FrontPage.svg"), url("src/assets/img/Back.png");
    background-position: center, center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: auto, cover;
    padding: 100em, 100em;
  
  }
  

.btnsi {
  background: #B9BC1D;
  mix-blend-mode: lighten;
  border-radius: 20px;
  flex: 0 0 50px;
}


.btnsi:hover {
  background: #B9BC1D !important;
  border-radius: 20px !important;
  border: #B9BC1D 25px !important;
}
