<div class="container-fluid padinterno" for="editseccion">
    <div class="container-fluid p-1">
        <div class="container-fluid p-3">
            <div class="container-fluid texto">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-3 col-l-3 col-md-4 col-sm-5 titulocomps m-1">
                        <h1>
                            EDITAR SECCION
                        </h1>
                    </div>
                </div>
            </div>
            <div
                class="container-fluid bg-dark cuadro rounded m-auto p-1 shadow align-content-center table-responsive-md">
                <table class="table table-hover table-dark text-center">
                    <thead>
                        <tr style="text-transform: uppercase">
                            <th scope="col">Titulo</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of itemsSecciones">
                            <td>{{s.titulo}}</td>
                            <td>
                                <div class="container-fluid">
                                    <div class="row align-items-center">
                                        <div class="col-sm-6"> <button type="submit" class="btn btn-info p-2 m-1"
                                                (click)="editar(s)">Editar</button>
                                        </div>
                                        <div class="col-sm-6">
                                            <button type="submit" class="btn btn-danger p-2 m-1"
                                                (click)="eliminar(s)">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="container-fluid cuadro rounded m-auto p-1 shadow">
            <form>
                <div class="row text-black text-center align-items-center m-3">
                    <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8 align-content-center">
                        <label for="titulo" class="visually-hidden">seccion</label>
                        <input type="text" class="form-control" id="titulo" name="titulo"
                            placeholder="{{seccionEditada.titulo}}" [(ngModel)]="seccionEditada.titulo">
                    </div>
                    <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 align-content-center p-2">
                        <button type="submit" class="btn btn-secondary mb-3" (click)="enviar(seccionEditada)">Editar
                            Titulo Seccion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col">
            <app-btnregresoinicioedit></app-btnregresoinicioedit>
        </div>
    </div>


</div>