<header>
    <div class="container-fluid">

        <nav class="navbar fixed-top header">
            <div class="container-fluid">
                <span class="navbar-brand navbar-expand-sm">Federico Paz</span>
                <button class="navbar-toggler custom-toggler " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon custom-toggler"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <div class="btn-toolbar btns" role="toolbar">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn">
                                    <a href="https://github.com/fedepaz" target="_blank">
                                        <img src="../../assets/img/github_color.svg">
                                    </a>
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn">
                                    <a href="https://www.linkedin.com/in/federico-paz-272a8814/" target="_blank">
                                        <img src="../../assets/img/linkedin_color.svg">
                                    </a>
                                </button>
                            </div>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn" (click)="login()">
                                    <img src="../../assets/img/Login.svg">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </div>
</header>