<header>
    <nav class="navbar navbar-expand-lg fixed-top header">
        <div class="container-fluid">
            <span class="navbar-brand">Federico Paz</span>
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon custom-toggler"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <div class="btn-toolbar btns" role="toolbar">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn">
                                <img src="assets/img/bxl-instagram-alt 1.svg">
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn">
                                <img src="assets/img/bxl-gmail 1.svg">
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn" (click)="login()">
                                <img src="assets/img/Login.svg">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </nav>
</header>