<div class="container-fluid superior inferior">
    <div class="row text-center justify-content-center">
        <div class="row text-white text-center align-items-center" style="padding-top: 180px; padding-bottom: 220px;">
            <div class="container">
                <p class="texto parrafo text-center">
                    ...intento de programador autodidacta, con ganas de cambiar de rumbo...
                </p>
            </div>
        </div>
        <div class="col">
            <app-proyectos>
            </app-proyectos>
        </div>
    </div>
</div>