<div class="container-fluid padinterno" for="createseccion">
    <div class="container-fluid p-1">
        <div class="container-fluid p-3">
            <div class="container-fluid texto">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-3 col-l-3 col-md-6 col-sm-8 titulocomps">
                        <h1>
                            SECCION NUEVA
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid cuadro rounded m-auto p-1 shadow">

                <form>
                    <div class="row text-black text-center align-items-center m-3">

                        <div class="col-xxl-9 col-xl-9 col-lg-9 col-md-8 align-content-center">
                            <label for="titulo" class="visually-hidden">seccion</label>
                            <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo Seccion"  [(ngModel)]="seccion.titulo">
                        </div>
                        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 align-content-center p-2">
                            <button type="submit" class="btn btn-secondary mb-3" (click)="crearSeccion()">Crear Sección</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row justify-content-center text-center">
        <div class="col">
            <app-btnregresoinicioedit></app-btnregresoinicioedit>
        </div>
    </div>

</div>