<div class="container-fluid" for="createseccion">
    <div class="container-fluid p-1">
        <div class="container-fluid p-3">
            <div class="container-fluid texto">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-3 col-l-3 col-md-4 col-sm-5 titulocomps">
                        <h1>
                            SECCION <br> NUEVA
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container-fluid cuadro rounded m-auto p-1 shadow">

                <form>
                    <div class="row text-black text-center align-items-center m-3">

                        <div class="col align-content-center">
                            <label for="staticEmail2" class="visually-hidden">Email</label>
                            <input type="text" readonly class="form-control-plaintext" id="staticEmail2"
                                value="titulo seccion(?)">
                        </div>
                        <div class="col align-content-center">
                            <label for="inputPassword2" class="visually-hidden">seccion</label>
                            <input type="text" class="form-control" id="inputPassword2" placeholder="nombre seccion">
                        </div>
                        <div class="col align-content-center">
                            <button type="submit" class="btn btn-secondary mb-3">Crear Sección</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>