<div class="container-fluid coloredit" for="selectseccion">
    <div class="container-3 bg-white">
        <p>
            UN ESPACIO
        </p>
    </div>
    <div class="container-fluid p-1">
        <div class="container-fluid p-3">
            <div class="container-fluid texto">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-3 col-l-3 col-md-4 col-sm-5 titulocomps">
                        <h1>
                            SECCIONES
                        </h1>
                    </div>
                </div>
            </div>

            <div class="container-fluid cuadro rounded m-auto p-1 shadow">
                <div class="row text-black text-center align-items-end m-3">
                    <div class="col-3 align-content-center">
                        <h4>
                            NUEVA SECCION
                        </h4>
                    </div>
                    <div class="col-6">
                        <p>
                            Aquí puede crear una Sección.
                        </p>
                    </div>
                    <div class="col-3 ">
                        <button type="button" class="btn btn-dark">Seleccionar</button>
                    </div>
                </div>
            </div>

            <div class="container-fluid cuadro rounded m-auto p-1 shadow">
                <div class="row text-black text-center align-items-end m-3">
                    <div class="col-3">
                        <h4>
                            EDITAR SECCION
                        </h4>
                    </div>
                    <div class="col-6">
                        <p>
                            Aquí puede editar el nombre de Sección.
                        </p>
                    </div>
                    <div class="col-3 ">
                        <button type="button" class="btn btn-dark">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
