
<header>
    <app-header>

    </app-header>
</header>

<body>
    <div class="container superior inferior p-3">
        <div class="container-fluid">
            <div class="row text-center">
                <div class="col-12">
                    <div class="container-fluid texto">
                        <div class="row justify-content-center">
                            <div class="col-3 titulocomps ">
                                <h1>
                                    cursos
                                </h1>
                            </div>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row text-white text-center align-items-center">
                            <div class="col-3">
                                <h4>
                                    titulo
                                </h4>
                            </div>
                            <div class="col-9">
                                <p>
                                    ipso Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio animi non fugit reprehenderit
                                    possimus. Fugit quia provident tempore id eligendi! Adipisci ut corrupti odit. Rerum ipsa reprehenderit
                                    sapiente accusamus error.
                                </p>
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <app-footer>

    </app-footer>
</footer>